

.home{

    padding-top: 90px;

    height: fit-content;
    width: 100vw;
display: grid;

    .terre{
        width: 100vw;
        height: 100vh;
        position: relative;

        background-color: rgb(34, 34, 114);
        display: grid;

        .titres{
            position: absolute;
            top: 2%;
            left: 2%;

            h1,h2{
                margin: 0;
                padding: 0;
                font-family: "atma";
                color: white;
            }

            h1{
                font-size: calc(0.3rem + 8vw);
            }

            h2{
                font-size: calc(0.1rem + 6vw);
                opacity: 0.9;
            }
        }


        .bouton{
            position: absolute;
            justify-self: center;
            align-self: flex-end;
            display: grid;
            width: 80%;
            height: fit-content;
            padding: 5%;

            background-color: #86ed258c;
            // opacity: 0.7;

            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #BFD975;
        }

        
    }

// .rubriques{
            
        // }


}