

.home{

    padding-top: 90px;

    height: fit-content;
    width: 100vw;
display: grid;

    .terre{
        width: 100vw;
        height: 73.5vh;
        position: relative;

        background-color: rgb(34, 34, 114);
        display: grid;

        background-image: url("../img/accueil/terreMobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .titres{
            position: absolute;
            top: 2%;
            left: 5%;

            h1,h2{
                margin: 0;
                padding: 0;
                font-family: "atma";
                color: white;
            }

            h1{
                font-size: calc(0.3rem + 8vw);
            }

            h2{
                font-size: calc(0.1rem + 6vw);
                opacity: 0.9;
            }
        }


        .bouton{
            position: absolute;
            justify-self: center;
            align-self: flex-end;
            display: grid;
            width: 80%;
            height: fit-content;
            padding: 5%;

            background-color: #86ed258c;
            // opacity: 0.7;

            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #BFD975;

            margin-bottom: 10%;
            border-radius: 10vh;

            div{
                justify-self: center;
                align-self: center;
                font-family: "Quicksand",Verdana, Geneva, Tahoma, sans-serif;
                font-size: calc(0.3rem + 3vw);
            }
        }

        
    }

    .rubriques{

        height: fit-content;
        min-height: 250vh;
        background: linear-gradient(180deg, #32B878 34.13%, #409b7a 100%);
        display: grid;
        grid-template: auto 1fr / 1fr;
        
        

        .titre{
            background-color: black;
            color: white;
            display: grid;
            font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
            height: fit-content;
            min-height: 10vh;
            font-size: calc(5vw + 0.4rem);

            div{
                align-self: center;
                justify-self: center;
            }
        }

        .liste{
            height: fit-content;
            width: 100vw;
            padding: 15vh 5vw;

            display: flex;
            flex-direction: column;
            gap: 10vh;

            .rubrique{
                height: 65vh;
                background-color: #cffe96ce;
                padding: 5vw;

                border-radius: 5vh;

                display: flex;
                flex-direction: column;
                justify-content: space-around;

                border: black 6px solid;

                position: relative;
    

        a{
            position: absolute;
            height: 100%;
            width: 100%;
            top:0;
            left: 0;
        }

                .img{
                    height: 70%;
                    background-image: url("../img/accueil/article.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;    
                    border-radius: 2.5vh;  
                    
                    border: black 6px solid;
                }

                .bouton{
                    min-height: 20%;
                    height: fit-content;
                    border-radius: 2.5vh;  

                    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.128) 50.31%, rgba(0, 0, 0, 0.172) 100%),
linear-gradient(0deg, #604ED0, #604ED0);

                    display: grid;

                    border: black 6px solid;
                    
                    div{
                        justify-self: center;
                    align-self: center;
                    color: white;
                    font-family: "atma";
                    font-size: calc(0.2rem + 8vw);
                    }

                }
            }
        }
                
    }


}

@media screen and (min-width:768px) and (orientation: portrait) {
    .home{

        padding-top: 60px;

        .terre{

            // background-image: url("../img/accueil/terreTablette.jpg");
            // background-position: bottom right;

            .titres{
                h1{
                    font-size: calc(0.7rem + 5vw);
                }
                h2{
                    font-size: calc(0.6rem + 3.5vw);
                }
            }

            .bouton{
                width: 60%;
                padding: 3vw;
                margin-bottom: 5%;
            }
        }

    }
}

@media screen and (min-width:768px) and (orientation: landscape) {
    .home{

        padding-top: 60px;

        .terre{

            background-image: url("../img/accueil/terreTablette.jpg");
            background-position: bottom right;
            min-height: 540px;

            .titres{
                top: 5%;
                h1{
                    font-size: calc(0.5rem + 4vw);
                }
                h2{
                    font-size: calc(0.35rem + 3.5vw);
                }
            }

            .bouton{
                margin-bottom: 3%;
                margin-left: 5%;
                min-width: 35%;
                width: fit-content;
                justify-self: flex-start;

                div{
                    font-size: calc(0.5rem + 2vw);
                }
            }
        }


        .rubriques{

            .liste{
    
                .rubrique{
                    height: 65vw;

                    .bouton{

                        div{
                            font-size: calc(0.2rem + 5vw);
                        }
                    }
                }
            }
        }

    }

    
}


@media screen and (min-width: 1440px) {
    

    .home{
        .terre{
            height: 85vh;

            min-height: 525px;
            background-image: url("../img/accueil/terrePC.jpg");
            background-position: bottom right;
            background-size: cover;

            .titres{
                h1{
                    font-size: calc(0.3rem + 4vw);
                }

                h2{
                    font-size: calc(0.2rem + 3vw);
                }
            }

            .bouton{
                min-width: 35%;
                padding: 2% 5%;
            }
        }

        .rubriques{
            display: grid;

            .titre{
                font-size: calc(0.5rem + 3.5vw);
            }
            .liste{
                max-width: 1440px;
                justify-self: center;
                display: grid;
                width: 65%;

                .rubrique{
                    justify-self: center;
                    width: 100%;
                    height: 80vh;
                    padding: 2vw;

                    .bouton{

                        div{
                            font-size: calc(0.5rem + 3vw);
                        }
                    }
                }
            }
        }
    }
}