@media screen and (min-width: 1280px) {

    body{
        background-color: rgb(247, 247, 247);
    }
    .container{
        width: 1280px;
        grid-template: 75px repeat(4,auto) 5vh repeat(2,auto) / 2fr 1fr;
        grid-template-areas: ". .""title intro""part1 parents""c_IMG parents""part2 parents"". .""recom recom""retour retour";
        background-color: white;
        padding: 0 50px;

        gap: 5vh 50px;

        &>*{
            margin: 0 0;
        }

        .GC_title{
            width: 753px;
            height: 35vw;
            min-height: 450px;
            max-height: 550px;
        }

        .GC_intro{
            padding: 15px 15px;
            height: fit-content;
            align-self: center;
        }

        .Retour_Accueil{

            height: 600px;

        }


        .For_Parents{
            height: 100%;
            gap: 2%;
            .For_P_Container{
                flex-direction: column;
                height: 100%;
                gap: 5%;
                position: relative;

                .Asso{
                    width: 100%;
                    height: 45%;
                }

                .Shop{
                    width: 100%;
                    height: 45%;
                    bottom: 0;
                }
            }
        }


    }
}