body{
    overflow: overlay;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6FB32B;
    position: fixed;
    z-index: 4;
    height: 70px;
    width: 100vw;
    margin: 10px;
    border-radius: 10px;
    display: grid;
    

    .logo{
        display: grid;
        justify-content: flex-start;
        height: 60px;
        width: 60px;
        position: absolute;
        margin: 10px;
        transition: ease-in-out 0.2s;
                &:hover{
                    transform: scale(0.92);
                }

        img{
            width: 60px;
            height: 60px;
        }

        a{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    
}





footer{
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    margin-top: 15vh;

    // position: absolute;
    // bottom: 0;
}


.langswitch{

    // position: absolute;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    width: 100%;
    justify-content: center;
    align-content: center;
    

    form{
    
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-content: center;

        gap: 2vw;
        width: 100%;

        div{
            width: 100%;
            // height: fit-content;
            text-align: center;
        

            label{
                color: rgb(44, 22, 22);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                padding: 0.5rem;
                display: block;
                width: 75%;
                margin: auto;
                

    
                cursor: pointer;
                background-color: #34801B;
                border-radius: 10px;
                transition: ease-in-out 0.3s;
                &:hover{
                    color: rgb(0, 0, 0);
                    background-color: #ffffff;
               
                }
                
            }
            .activeLang{
                color: rgb(0, 0, 0);
                background-color: #ffffff;
                cursor: default;
               
                
                
            }

            input{
                display: none;
            }
        }
    }
}



.navigation {
    display: grid;
    grid-template: 55px repeat(6, 1fr) 6vh / 1fr;
    grid-row-gap: 3vh;
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;

    font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
    // font-family: "Quicksand";

    transition: ease 0.5s;
    background-color: #6FB32B;

    a {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5rem;

        transition: ease 0.5s;

        &:hover {
            
            transition: ease 0.3s;
            background-color:rgb(255, 255, 255);
            color: #34801B;

        }
    }

    .nav-active {
        color: rgb(125, 221, 138);
        text-decoration: underline 2px rgb(125, 221, 138);

        &:hover {
            font-size: 1.5rem;
        }

       
    }

    
}

#menu {
    position: fixed;
    right: 3vw;
    top: 5vh;



    width: 2vw;
    height: 2vw;

    z-index: 5;

    display: none;




}

#trigger {

   
    position: absolute;
    right: 5vw;
    transform: translate(0,-50%);
    z-index: 5;
    display: grid;
    grid-template: 25% repeat(3,1fr) 25% / 1fr;
    width: 55px;
    height: 55px;
    

    

    
    cursor: pointer;
   

    #burger {


        width: 35px;
        height: 5px;
        background-color: #ffffff;

        z-index: 6;
        display: flex;

        align-self: center;
        justify-self: center;
        cursor: pointer;
        transition: ease-in-out 0.2s;
                
        


    }

    

}



#menu:checked~.navigation {
    right: 0vw;
}

body{
    overflow: scroll;
    position: relative;

    
}




#menu:checked~#trigger {

    position: fixed;
    z-index: 5;
    display: block;

    width: 55px;
    height: 55px;



    cursor: pointer;

    transition: 0.2s ease-out;

    #burger {

        position: relative;

        width: 35px;
        height: 5px;
        background-color: #ffffff;

        top: 50%;
        left: 50%;

        z-index: 6;
        display: block;

        transform: translate(-50%, -150%) rotate(45deg);

        cursor: pointer;

        // transition: ease 1s;

    }

    #burger:nth-child(2) {

        position: relative;

        width: 35px;
        height: 5px;
        background-color: #ffffff;

        top: 25%;
        left: 50%;

        z-index: 6;
        display: block;

        transform: translate(-50%, 225%) rotate(-45deg);

        cursor: pointer;

        // transition: ease 1s;

    }

    #burger:nth-child(3) {

        display: none;

    }

}



//POUR DESKTOP

// #menu:checked~#trigger {

//     position: fixed;
//     z-index: 5;
//     display: block;

//     width: 55px;
//     height: 55px;

//     background-color:  rgb(147, 241, 160);
//     border-radius: 50%;

//     cursor: pointer;

//     transition: 0.2s ease-out;

//     #burger {

//         position: relative;

//         width: 2vw;
//         height: 5px;
//         background-color: rgb(49, 168, 69);

//         top: 50%;
//         left: 50%;

//         z-index: 6;
//         display: block;

//         transform: translate(-50%, -150%) rotate(45deg);

//         cursor: pointer;

//         // transition: ease 1s;

//     }

//     #burger:nth-child(2) {

//         position: relative;

//         width: 2vw;
//         height: 5px;
//         background-color: rgb(49, 168, 69);

//         top: 25%;
//         left: 50%;

//         z-index: 6;
//         display: block;

//         transform: translate(-50%, 200%) rotate(-45deg);

//         cursor: pointer;

//         // transition: ease 1s;

//     }

//     #burger:nth-child(3) {

//         display: none;

//     }

// }


#menu:checked ~ body{
    overflow-y: hidden;
    position: fixed;
}

.article {
    overflow: hidden;
}

  
@import "./navigation768px";
@import "./navigation1280px"
