
@media screen and (min-width: 768px) {
    .navigation{
        width: 40vw;
        right: -40vw;
        top: unset;
    }
        .logo{
            height: 60px;
            margin: 8px 1vw;
        }
        #trigger {
            right: 3vw;
        }
}