@import "settings.scss";
@import "./components/navigation";
@import "./components/articles";
@import "./components/quizz";
@import "./components/accueil";
@import "./components/listeArticles";


@import url('https://fonts.googleapis.com/css2?family=Atma:wght@600&family=Quicksand&family=Sniglet&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    overflow-x: hidden;
    // height: 300vh;
}







