@import url("https://fonts.googleapis.com/css2?family=Atma:wght@600&family=Quicksand&family=Sniglet&display=swap");
body {
  overflow: overlay;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6FB32B;
  position: fixed;
  z-index: 4;
  height: 70px;
  width: 100vw;
  margin: 10px;
  border-radius: 10px;
  display: grid;
}
.header .logo {
  display: grid;
  justify-content: flex-start;
  height: 60px;
  width: 60px;
  position: absolute;
  margin: 10px;
  transition: ease-in-out 0.2s;
}
.header .logo:hover {
  transform: scale(0.92);
}
.header .logo img {
  width: 100%;
  height: 100%;
}
.header .logo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

footer {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  margin-top: 15vh;
}

.langswitch {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.langswitch form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  width: 100%;
}
.langswitch form div {
  width: 100%;
  text-align: center;
}
.langswitch form div label {
  color: #2c1616;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem;
  display: block;
  width: 75%;
  margin: auto;
  cursor: pointer;
  background-color: #34801B;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}
.langswitch form div label:hover {
  color: black;
  background-color: #ffffff;
}
.langswitch form div .activeLang {
  color: black;
  background-color: #ffffff;
  cursor: default;
}
.langswitch form div input {
  display: none;
}

.navigation {
  display: grid;
  grid-template: 55px repeat(6, 1fr) 6vh/1fr;
  grid-row-gap: 3vh;
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
  transition: ease 0.5s;
  background-color: #6FB32B;
}
.navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  transition: ease 0.5s;
}
.navigation a:hover {
  transition: ease 0.3s;
  background-color: white;
  color: #34801B;
}
.navigation .nav-active {
  color: #7ddd8a;
  text-decoration: underline 2px #7ddd8a;
}
.navigation .nav-active:hover {
  font-size: 1.5rem;
}

#menu {
  position: fixed;
  right: 3vw;
  top: 5vh;
  width: 2vw;
  height: 2vw;
  z-index: 5;
  display: none;
}

#trigger {
  position: absolute;
  right: 5vw;
  transform: translate(0, -50%);
  z-index: 5;
  display: grid;
  grid-template: 25% repeat(3, 1fr) 25%/1fr;
  width: 55px;
  height: 55px;
  cursor: pointer;
}
#trigger #burger {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  z-index: 6;
  display: flex;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

#menu:checked ~ .navigation {
  right: 0vw;
}

body {
  overflow: scroll;
  position: relative;
}

#menu:checked ~ #trigger {
  position: fixed;
  z-index: 5;
  display: block;
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: 0.2s ease-out;
}
#menu:checked ~ #trigger #burger {
  position: relative;
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  z-index: 6;
  display: block;
  transform: translate(-50%, -150%) rotate(45deg);
  cursor: pointer;
}
#menu:checked ~ #trigger #burger:nth-child(2) {
  position: relative;
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  top: 25%;
  left: 50%;
  z-index: 6;
  display: block;
  transform: translate(-50%, 225%) rotate(-45deg);
  cursor: pointer;
}
#menu:checked ~ #trigger #burger:nth-child(3) {
  display: none;
}

#menu:checked ~ body {
  overflow-y: hidden;
  position: fixed;
}

.article {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .navigation {
    width: 40vw;
    right: -40vw;
    top: unset;
  }

  .logo {
    height: 60px;
    margin: 8px 1vw;
  }

  #trigger {
    right: 3vw;
  }
}
@media screen and (min-width: 1280px) {
  .navigation {
    width: 30vw;
    right: -30vw;
  }

  #trigger {
    right: 2vw;
  }
}
* {
  box-sizing: border-box;
}

.texte_t {
  display: inline-block;
}

.container {
  display: grid;
  height: auto;
  width: 100vw;
  margin: auto;
  margin: auto;
  grid-template: 90px repeat(5, auto) 5vh repeat(3, auto)/1fr;
  grid-template-areas: "." "title" "intro" "part1" "c_IMG" "part2" "." "parents" "recom" "retour";
  gap: 5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container > * {
  margin: 0 5vw;
  border-radius: 12px;
}
.container > * > div {
  border-radius: 12px;
}
.container .GC_title {
  grid-area: title;
  margin: 0;
  width: 100%;
  height: 33vh;
  position: relative;
}
.container .GC_title .background_title {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  display: grid;
  grid-template-areas: 1fr/1fr;
}
.container .GC_title .background_title .text_title {
  position: absolute;
  text-align: center;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-areas: 1fr/1fr;
  padding: 5%;
  min-height: 20%;
  max-height: 80%;
  height: auto;
  min-width: 50%;
  max-width: 90%;
  width: auto;
}
.container .GC_title .background_title .text_title h1 {
  color: white;
  font-size: 2.4rem;
  padding: 0;
  margin: 0;
  text-shadow: black 3px 0 0;
  align-self: center;
  justify-self: center;
  font-family: "atma";
  font-weight: 600;
}
.container .GC_intro {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.container .GC_intro div audio {
  margin: 2vh 0;
}
.container .GC_intro .p {
  background-color: #2648c2;
  padding: 35px 5vw;
  color: white;
  transform: rotate(-1.5deg);
  font-family: "Sniglet";
  font-size: 1.15rem;
  text-align: justify;
  transform: rotate(1.5deg);
}
.container .GC_part1 {
  grid-area: part1;
  display: grid;
  grid-template: repeat(5, auto)/1fr;
  grid-template-areas: "titre_P1" "texte_P1" "illus1" "titre_P2" "texte_P2";
  gap: 2vh;
}
.container .GC_part1 .box_title {
  background-color: #3C8EED;
  padding: 10px;
  text-align: center;
}
.container .GC_part1 h2 {
  font-family: "Atma";
  font-size: 1.65rem;
  color: white;
}
.container .GC_part1 p {
  font-size: 1.15rem;
  color: white;
  text-align: justify;
  padding: 5px;
}
.container .GC_part1 .illus {
  width: 100%;
  height: 40vw;
  background-color: #8BE1F4;
}
.container .GC_part1 .box_P {
  background-color: #76AFEF;
  padding: 15px;
}
.container .GC_part1 .BT_P1 {
  grid-area: titre_P1;
}
.container .GC_part1 .BP_P1 {
  grid-area: texte_P1;
}
.container .GC_part1 .illus1 {
  grid-area: illus1;
}
.container .GC_part1 .box_title .BT_P2 {
  grid-area: titre_P2;
}
.container .GC_part1 .box_P .BP_P2 {
  grid-area: texte_P2;
}
.container .GC_central_IMG {
  grid-area: c_IMG;
  height: 33vh;
}
.container .GC_part2 {
  grid-area: part2;
  display: grid;
  grid-template: repeat(6, auto)/1fr;
  grid-template-areas: "titre_P3" "texte_P3" "illus2" "titre_P4" "texte_P4" "pied";
  gap: 2vh;
}
.container .GC_part2 .box_title {
  background-color: #3C8EED;
  padding: 10px;
  text-align: center;
}
.container .GC_part2 .box_P {
  background-color: #76AFEF;
  color: white;
  padding: 15px;
}
.container .GC_part2 h2 {
  font-family: "Atma";
  font-size: 1.65rem;
  color: white;
}
.container .GC_part2 p {
  font-size: 1.15rem;
  color: white;
}
.container .GC_part2 .illus {
  width: 100%;
  height: 40vw;
  background-color: #65898f;
}
.container .GC_part2 .BT_P3 {
  grid-area: titre_P3;
}
.container .GC_part2 .BP_P3 {
  grid-area: texte_P3;
  text-align: justify;
}
.container .GC_part2 .illus2 {
  grid-area: illus2;
}
.container .GC_part2 .BT_P4 {
  grid-area: titre_P4;
}
.container .GC_part2 .BP_P4 {
  grid-area: texte_P4;
  text-align: justify;
}
.container .GC_part2 .pied {
  grid-area: pied;
}
.container .GC_part2 .pied h4 {
  margin: 0;
  padding: 0;
  color: #2648c2;
}
.container .Recommandations {
  grid-area: recom;
  display: grid;
  gap: 5vh;
  height: 100vh;
}
.container .Recommandations a {
  width: 100%;
  height: 100%;
}
.container .Recommandations h3 {
  margin: 10vh 0 0 0;
}
.container .Recommandations .thumbnail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container .Recommandations .thumbnail a {
  text-decoration: none;
  color: white;
}
.container .Recommandations .thumbnail h4 {
  font-size: 0.9rem;
  margin: 1vh;
}
.container .Recommandations .thumbnail .TB_BG {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
}
.container .Recommandations .thumbnail .TB_BG .TB_title {
  justify-self: center;
  margin: 5%;
  padding: 3%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #16ABFC;
  border-radius: 15px;
  backdrop-filter: blur(5px);
}
.container .Recommandations .thumbnail .TB_BG .TB_title h1 {
  margin: 0;
  font-size: 1.7rem;
  font-family: "Atma";
  color: white;
}
.container .For_Parents {
  grid-area: parents;
  height: 50vh;
  display: flex;
  flex-direction: column;
}
.container .For_Parents h3 {
  margin: 0;
  padding: 1vh;
  background-color: #16ABFC;
  width: 100%;
  color: white;
  border-radius: 20px 20px 0px 0px;
}
.container .For_Parents .For_P_Container {
  width: 100%;
  height: 100%;
  gap: 10%;
  flex-direction: column;
}
.container .For_Parents .For_P_Container .Asso {
  width: 100%;
  height: 50%;
  background-color: #5d5deb;
  position: relative;
  border-radius: 0px 0px 0px 20px;
}
.container .For_Parents .For_P_Container .Asso a {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
}
.container .For_Parents .For_P_Container .Asso a .bouton {
  min-width: 50%;
  max-width: 80%;
  color: white;
  border-radius: 50px;
  max-height: 50%;
  padding: 5%;
  background-color: darkgreen;
  margin: 5%;
  position: absolute;
  align-self: flex-end;
  justify-self: center;
}
.container .For_Parents .For_P_Container .Asso a .bouton:hover {
  background-color: #7FC50E;
}
.container .For_Parents .For_P_Container .Shop {
  width: 100%;
  height: 50%;
  background-color: darkgoldenrod;
  border-radius: 0px 0px 20px 0px;
}
.container .For_Parents .For_P_Container .Shop a {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
}
.container .For_Parents .For_P_Container .Shop a .bouton {
  min-width: 50%;
  max-width: 80%;
  color: white;
  border-radius: 50px;
  max-height: 50%;
  padding: 5%;
  background-color: darkgreen;
  margin: 5%;
  position: absolute;
  align-self: flex-end;
  justify-self: center;
}
.container .For_Parents .For_P_Container .Shop a .bouton:hover {
  background-color: #7FC50E;
}
.container .Retour_Accueil {
  grid-area: retour;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30vh;
  background-color: #7FC50E;
  padding: 2%;
  margin: 15vh 0;
}
.container .Retour_Accueil .Grinouille {
  width: 100%;
  height: 100%;
  display: grid;
}
.container .Retour_Accueil .Grinouille .Grinouille_IMG {
  background-color: #b6f552;
  width: 100px;
  height: 150px;
  display: flex;
  justify-self: center;
  align-self: center;
}
.container .Retour_Accueil .Grinouille .earth {
  height: 50%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.container .Retour_Accueil .Retour_T {
  height: auto;
  padding: 1%;
  min-width: 40%;
  max-width: 60%;
  align-self: center;
  text-align: center;
}
.container .Retour_Accueil .Retour_T a {
  display: grid;
  text-align: center;
  text-decoration: none;
}
.container .Retour_Accueil .Retour_T a .bouton {
  background-color: royalblue;
  padding: 5%;
  width: auto;
  border-radius: 15px;
  max-width: 80%;
  justify-self: center;
}
.container .Retour_Accueil .Retour_T a .bouton:hover {
  background-color: #6a89e7;
}
.container .Retour_Accueil .Retour_T a p {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
.container h3 {
  font-family: "Atma";
  font-size: 1.65rem;
  color: white;
}
.container .ecout {
  font-family: "atma";
  font-weight: 600;
}
.container .audio {
  width: 100%;
  background-color: #6dccff;
  display: grid;
}
.container audio {
  grid-area: part1;
  text-align: center;
}
.container audio::-webkit-media-controls-enclosure {
  border-radius: 0px;
  background-color: #16ABFC;
}
.container audio:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #333);
}
.container audio:hover::-webkit-media-controls-enclosure {
  border-radius: 0px;
  background-color: #16ABFC;
}

.illus * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recom_date {
  color: #456dfd;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template: 75px repeat(5, auto) 5vh repeat(3, auto)/1fr;
    grid-template-areas: "." "title" "intro" "part1" "c_IMG" "part2" "." "parents" "recom" "retour";
  }
  .container .GC_title {
    min-height: 35vw;
    width: 95%;
  }
  .container .GC_part1 {
    grid-template: repeat(4, auto)/35% 65%;
    grid-template-areas: "titre_P1 titre_P1" "illus1 texte_P1" "illus1 titre_P2" "illus1 texte_P2";
    height: 100%;
  }
  .container .GC_part1 .illus1 {
    width: 100%;
    height: 100%;
  }
  .container .GC_central_IMG {
    height: 50vh;
  }
  .container .GC_part2 {
    grid-template: repeat(5, auto)/65% 35%;
    grid-template-areas: "titre_P3 titre_P3" "texte_P3 illus2" "titre_P4 illus2" "texte_P4 illus2" "pied pied";
    height: 100%;
  }
  .container .GC_part2 .illus2 {
    width: 100%;
    height: 100%;
  }
  .container .For_Parents .For_P_Container {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
  .container .For_Parents .For_P_Container .Asso {
    width: 50%;
    height: 100%;
  }
  .container .For_Parents .For_P_Container .Shop {
    width: 50%;
    height: 100%;
  }
  .container .Recommandations {
    grid-template: auto repeat(3, 1fr)/20% 1fr 20%;
    height: 200vh;
  }
  .container .Recommandations h3 {
    grid-area: 1/1/2/4;
  }
  .container .Recommandations > div:nth-of-type(1) {
    grid-area: 2/1/3/3;
  }
  .container .Recommandations > div:nth-of-type(2) {
    grid-area: 3/2/4/4;
  }
  .container .Recommandations > div:nth-of-type(2) .thumbnail h4 {
    text-align: right;
  }
  .container .Recommandations > div:nth-of-type(3) {
    grid-area: 4/1/5/3;
  }
  .container .Retour_Accueil {
    height: 550px;
  }
  .container .Retour_Accueil .Grinouille {
    width: 55%;
  }
  .container .Retour_Accueil .Grinouille .Grinouille_IMG {
    width: 300px;
    height: 450px;
  }
  .container .Retour_Accueil .Retour_T {
    font-size: 1.5rem;
    width: 80%;
    height: 80%;
    display: grid;
  }
  .container .Retour_Accueil .Retour_T a {
    display: block;
    min-width: 60%;
    max-width: 100%;
    justify-self: center;
    align-self: center;
  }
  .container .Retour_Accueil .Retour_T a .bouton {
    min-width: 50%;
    max-width: 100%;
    padding: 7%;
    border-radius: 20px;
  }
  .container .Retour_Accueil .Retour_T a .bouton p {
    font-size: 1.8rem;
  }

  footer {
    height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .background_title {
    margin-left: 15px;
    margin-right: 15px;
  }

  .GC_title {
    width: 97%;
  }
}
@media screen and (min-width: 1280px) {
  body {
    background-color: #f7f7f7;
  }

  .container {
    width: 1280px;
    grid-template: 75px repeat(4, auto) 5vh repeat(2, auto)/2fr 1fr;
    grid-template-areas: ". ." "title intro" "part1 parents" "c_IMG parents" "part2 parents" ". ." "recom recom" "retour retour";
    background-color: white;
    padding: 0 50px;
    gap: 5vh 50px;
  }
  .container > * {
    margin: 0 0;
  }
  .container .GC_title {
    width: 753px;
    height: 35vw;
    min-height: 450px;
    max-height: 550px;
  }
  .container .GC_intro {
    padding: 15px 15px;
    height: fit-content;
    align-self: center;
  }
  .container .Retour_Accueil {
    height: 600px;
  }
  .container .For_Parents {
    height: 100%;
    gap: 2%;
  }
  .container .For_Parents .For_P_Container {
    flex-direction: column;
    height: 100%;
    gap: 5%;
    position: relative;
  }
  .container .For_Parents .For_P_Container .Asso {
    width: 100%;
    height: 45%;
  }
  .container .For_Parents .For_P_Container .Shop {
    width: 100%;
    height: 45%;
    bottom: 0;
  }
}
@media screen and (max-width: 1280px) {
  .background_title {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.quiz_container {
  width: 100vw;
  height: 100vh;
  display: grid;
}
.quiz_container .quiz {
  align-self: center;
  justify-self: flex-end;
  height: calc(100% - 100px);
  width: 100%;
  background-color: #afafaf;
  grid-template-rows: 7fr 4fr;
  gap: 5vh;
  display: grid;
}
.quiz_container .quiz .bckg {
  background-color: #515251;
  display: grid;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.quiz_container .quiz .bckg .questionBox {
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 1.8rem;
  padding: 2rem;
  background-color: #646464;
  border-radius: 25px;
}
.quiz_container .quiz .reponses {
  display: grid;
  background-color: yellow;
  gap: 2vh;
}
.quiz_container .quiz .reponses > * {
  justify-self: center;
  background-color: red;
  width: 100%;
  text-align: center;
  margin: 1vh;
  padding: 1vw;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  transition: ease 0.08s;
  text-decoration: none;
}
.quiz_container .quiz .reponses > *:hover {
  font-size: 1.5rem;
  transition: ease 0.2s;
}

@media screen and (min-width: 768px) {
  .quiz_container .quiz {
    height: 75%;
    width: 75vw;
    justify-self: center;
  }
}
.quizstart_container {
  height: fit-content;
  min-height: 80vh;
  width: 100vw;
  display: grid;
}
.quizstart_container .quizstart {
  height: calc(100% - 100px);
  width: 100%;
  align-self: flex-end;
  display: grid;
  grid-template: 1fr auto 6fr/1fr;
  grid-template-areas: "qst" "qsd" "qsi";
}
.quizstart_container .quizstart .qs_titre {
  background-color: #15ff3c;
  grid-area: qst;
}
.quizstart_container .quizstart .qs_desc {
  background-color: #afafaf;
  grid-area: qsd;
  min-height: 20vh;
}
.quizstart_container .quizstart .qs_img {
  background-color: darkkhaki;
  grid-area: qsi;
}

@media screen and (min-width: 768px) {
  .quizstart_container .quizstart {
    height: 75%;
    width: 75vw;
    justify-self: center;
    grid-template: 1fr 8fr/1fr 1fr;
    grid-template-areas: "qst qsi" "qsd qsi";
  }
}
.finquiz_container {
  height: fit-content;
  min-height: 80vh;
  width: 100vw;
  display: grid;
}
.finquiz_container .finquiz {
  height: calc(100% - 100px);
  width: 100%;
  align-self: flex-end;
  display: grid;
  grid-template: 1fr 1fr/1fr;
  grid-template-areas: "fqi" "fqp";
}
.finquiz_container .finquiz .fq_titre {
  background-color: #c4c4c4;
  justify-self: center;
  align-self: center;
}
.finquiz_container .finquiz .fq_para {
  background-color: #afafaf;
  grid-area: fqp;
  min-height: 20vh;
  display: grid;
  grid-template: 3fr 1fr/1fr;
  text-align: center;
  padding: 2vh;
}
.finquiz_container .finquiz .fq_img {
  background-color: darkkhaki;
  grid-area: fqi;
  display: grid;
}

@media screen and (min-width: 768px) {
  .finquiz_container .finquiz {
    height: 75%;
    width: 75vw;
    justify-self: center;
    grid-template: 1fr/1fr 1fr;
    grid-template-areas: "fqi fqp";
  }
}
.home {
  height: fit-content;
  width: 100vw;
  display: grid;
}
.home .grinouilleModale {
  display: grid;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #5f863e71;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.home .grinouilleModale .gMbody {
  width: 90vw;
  max-width: 1024px;
  min-height: 65vh;
  max-height: 90vh;
  overflow-y: scroll;
  background-color: #51d824;
  display: grid;
  grid-template: 3fr 2fr/1fr;
}
.home .grinouilleModale .gMbody .right {
  background-color: rgba(145, 240, 126, 0.63);
  margin: 5%;
  background-image: url("../img/accueil/grinouille.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.home .grinouilleModale .gMbody .leftText {
  margin: 5%;
  display: grid;
  overflow-y: scroll;
}
.home .grinouilleModale .gMbody .leftText .langChange {
  width: 5vw;
  height: 5vw;
  max-width: 50px;
  min-width: 20px;
  max-height: 50px;
  min-height: 20px;
  background-image: url("../img/accueil/lang.svg");
  background-size: contain;
  position: absolute;
  justify-self: flex-end;
  margin: 1%;
  cursor: pointer;
}
.home .grinouilleModale .gMbody .leftText h2 {
  font-family: "Atma", sans-serif;
  font-size: calc(1.2rem + 2vmin);
}
.home .grinouilleModale .gMbody .leftText p {
  font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
}
.home .grinouilleModale .gMbody .leftText .btns {
  align-self: flex-end;
}
.home .grinouilleModale .gMbody .leftText .btns button {
  padding: 2%;
  background-color: #246110;
  color: white;
  font-size: calc(0.8rem + 1vmin);
  margin: 1% 0;
  border: none;
  cursor: pointer;
}
.home .grinouilleModale .gMbody .leftText.enfants {
  display: none;
}
.home .terre {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #222272;
  display: grid;
  background-image: url("../img/accueil/terreMobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .terre .titres {
  position: absolute;
  top: 15%;
  left: 5%;
}
.home .terre .titres h1,
.home .terre .titres h2 {
  margin: 0;
  padding: 0;
  font-family: "atma";
  color: #ffffff;
}
.home .terre .titres h1 {
  font-size: calc(0.3rem + 8vw);
}
.home .terre .titres h2 {
  font-size: calc(0.1rem + 6vw);
  opacity: 0.9;
}
.home .terre .bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  justify-self: center;
  align-self: flex-end;
  display: grid;
  width: 60%;
  max-height: 10vh;
  min-height: 12vh;
  height: fit-content;
  cursor: pointer;
  background-color: #34801B;
  font-family: "atma";
  color: #ffffff;
  margin-bottom: 10%;
  border-radius: 5vh;
}
.home .terre .bouton div {
  max-height: 10vh;
  text-align: center;
  font-family: "atma";
  font-size: calc(0.8rem + 1.5vw);
}
.home .rubriques {
  height: fit-content;
  min-height: 250vh;
  display: grid;
  grid-template: auto 1fr/1fr;
}
.home .rubriques .titre {
  margin-top: 50px;
  color: #ffffff;
  display: grid;
  font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
  height: fit-content;
  min-height: 10vh;
  font-size: calc(5vw + 0.4rem);
}
.home .rubriques .titre div {
  align-self: center;
  justify-self: center;
  background-color: #34801B;
  padding: 10px;
  border-radius: 20px;
}
.home .rubriques .liste {
  height: fit-content;
  width: 100vw;
  padding: 15vh 5vw;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
.home .rubriques .liste .rubrique {
  height: 65vh;
  border-radius: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  transition: ease-in-out 0.3s;
}
.home .rubriques .liste .rubrique:hover {
  transform: scale(0.98);
}
.home .rubriques .liste .rubrique a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.home .rubriques .liste .rubrique .img {
  height: 70%;
  background-image: url("../img/accueil/article.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2.5vh;
}
.home .rubriques .liste .rubrique .bouton {
  min-height: 20%;
  height: fit-content;
  border-radius: 2.5vh;
  background: #604ED0;
  display: grid;
}
.home .rubriques .liste .rubrique .bouton div {
  justify-self: center;
  align-self: center;
  color: #ffffff;
  font-family: "atma";
  font-size: calc(0.2rem + 7vw);
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .home .grinouilleModale .gMbody {
    grid-template: 1fr/4fr 3fr;
    max-height: 100vh;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .home .grinouilleModale .gMbody {
    grid-template: 1fr/4fr 3fr;
    max-height: 100vh;
  }
  .home .terre .titres h1 {
    font-size: calc(0.7rem + 5vw);
  }
  .home .terre .titres h2 {
    font-size: calc(0.6rem + 3.5vw);
  }
  .home .terre .bouton {
    width: 60%;
    padding: 3vw;
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .home .grinouilleModale .gMbody {
    grid-template: 1fr/4fr 3fr;
    width: 90vw;
    max-width: 1024px;
    max-height: 700px;
    max-height: 90%;
    overflow-y: scroll;
  }
  .home .terre {
    background-image: url("../img/accueil/terreTablette.jpg");
    background-position: bottom right;
    min-height: 540px;
  }
  .home .terre .titres {
    top: 15%;
  }
  .home .terre .titres h1 {
    font-size: calc(0.5rem + 4vw);
  }
  .home .terre .titres h2 {
    font-size: calc(0.35rem + 3.5vw);
  }
  .home .terre .bouton {
    margin-bottom: 3%;
    margin-left: 5%;
    min-width: 35%;
    width: fit-content;
    justify-self: flex-start;
  }
  .home .terre .bouton div {
    font-size: calc(0.5rem + 2vw);
  }
  .home .rubriques .liste {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;
    padding: 10vh 3vw;
  }
  .home .rubriques .liste .rubrique {
    height: 60vh;
    width: 35vw;
  }
  .home .rubriques .liste .rubrique .bouton div {
    font-size: calc(0.5rem + 3vw);
  }
}
@media screen and (min-width: 1440px) {
  .home .terre {
    height: 100vh;
    min-height: 525px;
    background-image: url("../img/accueil/terrePC.jpg");
    background-position: bottom right;
    background-size: cover;
  }
  .home .terre .titres h1 {
    font-size: calc(0.3rem + 4vw);
  }
  .home .terre .titres h2 {
    font-size: calc(0.2rem + 3vw);
  }
  .home .terre .bouton {
    min-width: 35%;
  }
  .home .rubriques {
    display: grid;
  }
  .home .rubriques .titre {
    font-size: calc(0.5rem + 3.5vw);
  }
  .home .rubriques .liste {
    max-width: 1440px;
  }
  .home .rubriques .liste .rubrique {
    justify-self: center;
    height: 70vh;
  }
  .home .rubriques .liste .rubrique .bouton div {
    font-size: calc(0.1rem + 2vw);
  }
}
.listeArticles {
  padding-top: 90px;
  min-height: 100vh;
  height: fit-content;
  position: relative;
  font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
  background: white;
  display: grid;
}
.listeArticles div h1 {
  margin: 0;
  padding: 2vh;
  text-align: center;
  font-family: "atma";
  font-size: calc(6vw + 2rem);
  color: white;
}
.listeArticles .liste {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: fit-content;
  gap: 5vh;
  padding: 5vh 0;
}
.listeArticles .liste .listchild {
  height: 35vh;
  width: 90%;
  background-color: blueviolet;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6vh;
  display: grid;
  position: relative;
  transition: ease-in-out 0.3s;
}
.listeArticles .liste .listchild:hover {
  transform: scale(0.98);
}
.listeArticles .liste .listchild a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.listeArticles .liste .listchild h1 {
  font-size: calc(0.3rem + 6vw);
  color: white;
  width: fit-content;
  height: fit-content;
  justify-self: center;
}
.listeArticles .liste .listchild h2 {
  font-size: calc(0.2rem + 4vw);
  font-family: "atma";
  color: white;
  width: fit-content;
  height: fit-content;
  justify-self: center;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .listchild {
    height: 45vh;
    min-height: 450px;
  }
}
@media screen and (min-width: 1440px) {
  .listeArticles .liste {
    width: 1080px;
    justify-self: center;
  }
  .listeArticles .liste .listchild {
    border-radius: 5vh;
  }
  .listeArticles .liste .listchild h1 {
    font-size: calc(50px + 1rem);
  }
  .listeArticles .liste .listchild h2 {
    font-size: calc(30px + 0.75rem);
  }
}
.quizes {
  padding-top: 90px;
  min-height: 100vh;
  height: fit-content;
  position: relative;
  font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
  background: white;
  display: grid;
}
.quizes div h1 {
  margin: 0;
  padding: 2vh;
  text-align: center;
  font-family: "atma";
  font-size: calc(6vw + 2rem);
  color: white;
}
.quizes .liste {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: fit-content;
  gap: 5vh;
  padding: 5vh 0;
}
.quizes .liste .listchild {
  height: 35vh;
  width: 90%;
  background-color: blueviolet;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6vh;
  display: grid;
  position: relative;
  transition: ease-in-out 0.3s;
}
.quizes .liste .listchild:hover {
  transform: scale(0.98);
}
.quizes .liste .listchild a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.quizes .liste .listchild h1 {
  font-size: calc(0.3rem + 6vw);
  color: white;
  width: fit-content;
  height: fit-content;
  justify-self: center;
}
.quizes .liste .listchild h2 {
  font-size: calc(0.2rem + 4vw);
  font-family: "atma";
  color: white;
  width: fit-content;
  height: fit-content;
  justify-self: center;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .listchild {
    height: 45vh;
    min-height: 450px;
  }
}
@media screen and (min-width: 1440px) {
  .listeArticles .liste {
    width: 1080px;
    justify-self: center;
  }
  .listeArticles .liste .listchild {
    border-radius: 5vh;
  }
  .listeArticles .liste .listchild h1 {
    font-size: calc(50px + 1rem);
  }
  .listeArticles .liste .listchild h2 {
    font-size: calc(30px + 0.75rem);
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
